.th_Shop { font-family: Verdana,Arial; font-size: 10pt; color: #FFFFFF; font-weight: bold}
.td_Shop { font-family: Verdana,Arial; font-size: 10pt; color: #000000; font-weight: Normal; text-align:center}
.Normal { font-family: Verdana,Arial; font-size: 10pt; color: #000000}
.th_Status { font-family: Verdana,Arial; font-size: 10pt; color: #FFFFFF; font-weight: bold}th           { font-family: Verdana; font-size: 10pt; font-weight: bold }